<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <!--Hier die IP Adresse des Servers eintragen: Ersetzen Sie "localhost" durch die IP-Adresse des Servers z.B. http://10.0.0.21:8989/.... -->
      <endpoint
          address="http://localhost:8989/FragebogenHandlerURI"
          binding="wsHttpBinding"
          contract="EntscheidungshelferBibliothek.RemoteFragebogen"
          name="WsHttpBinding_RemoteFragebogen">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>